USE [master]
GO
/****** Object:  Database [DAI-TPcrud]    Script Date: 27/4/2022 09:22:24 ******/
CREATE DATABASE [DAI-TPcrud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAI-TPcrud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-TPcrud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAI-TPcrud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-TPcrud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAI-TPcrud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAI-TPcrud]
GO
/****** Object:  User [Personajes]    Script Date: 27/4/2022 09:22:24 ******/
CREATE USER [Personajes] FOR LOGIN [Personajes] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 27/4/2022 09:22:24 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Personajes]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 27/4/2022 09:22:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[Imagen] [varchar](250) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [float] NOT NULL,
	[Historia] [varchar](200) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nacimiento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Personajes] ON 

INSERT [dbo].[Personajes] ([Imagen], [Nombre], [Edad], [Peso], [Historia], [Id], [Nacimiento]) VALUES (N'Una noche de verano', N'Pana Mati', 15, 50, N'Un pibe con traumas', 1, N'2022-12-20')
INSERT [dbo].[Personajes] ([Imagen], [Nombre], [Edad], [Peso], [Historia], [Id], [Nacimiento]) VALUES (N'url', N'Raúl', 40, 175, N'BLA BLA BLA', 6, N'11/17/2017')
SET IDENTITY_INSERT [dbo].[Personajes] OFF
GO
USE [master]
GO
